



<main class="products-main">

    <app-products-side-bar
        [starsFilterOptions]="starsFilterOptions"
        [priceFilterOptions]="priceFilterOptions"
        (updatePriceFilter)="UpdateProductFilter('price', $event)"
        (updateStarsFilter)="UpdateProductFilter('stars', $event)"
        [selectedPriceFilter]="(productFilters$ | async )?.price!"
        [selectedStarFilter]="(productFilters$ | async)?.stars!"
    >
  </app-products-side-bar>


  <section class="products-content flex-grow-1">

      <h2 class="products-content__results-title">Results</h2>

      <app-product-search-result-bar
            [pagination]="(pagination$ | async) || { pageNumber: 1, pageSize: 12}"
            [totalCount]="(productsList$ | async)?.totalCount || 0"
      >
      </app-product-search-result-bar>

      <div class=" products-list">
        <div *ngFor="let product of (productsList$ | async)?.data">
          <article class="h-100 products-list__item">
            <app-product-card [product]="product" class="h-100"></app-product-card>
          </article>

        </div>
    </div>
  </section>

</main>


