

<p-card class="product-card d-block h-100">


  <ng-template pTemplate="header">
    <span *ngIf="isProductBestsSeller(product.isBestSeller)">
      Best Seller
    </span>
  </ng-template>

  <div  class="d-block product-card__image-container">
    <a class="product-card__image-link" [routerLink]="['/categories', product.categoryId, 'products', product.id]">
      <img [src]="product.path" alt="product card image" class="product-card__image" >
    </a>
  </div>

  <ng-template pTemplate="footer">
    <a class="product-card__link" [routerLink]="['/categories', product.categoryId, 'products', product.id]">
      {{ product.name }}
    </a>
    <div class="product-card__rating">
      <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
    </div>

    <div class="product-card__pricing">
      <div class="product-card__currency">
        $
      </div>
      <a class="product-card__price" [routerLink]="['/categories', product.categoryId, 'products', product.id]">
        <span class="product-card__actual-price">
          {{ calculateActualProductPrice(product) }}
        </span>
        <span
          class="product-card__before-discount-price"
          *ngIf="isProductDiscounted(product)"
        >
          ${{ product.price}}
        </span>
      </a>
    </div>

  </ng-template>

</p-card>

