

$card-side-padding: 0.5rem;
$main-spacing: 0.5rem;

:host {
  // width: 320px;
  display: block;
}

a {
  cursor: pointer;
  color: black;
}

::ng-deep {


  .product-card {


    .p-card {
      display: block;
      height: 100%;

    }


    .p-card-header {

      background-color: rgba(0, 0,0, 0.03);

      span {
        position: relative;
        font-size: 0.8rem;
        height: 100%;
        padding: 0.225rem 0;
        display: inline-block;
        background-color: orange;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13ch;
        padding-right: 0.2858rem;
        clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
        background-color: #E67A00;
        font-weight: bold;

      }
    }

    .p-card-body {
      padding: 0;
      margin-bottom: 0.75rem;

      @media screen and (max-width: 850px) {

        display: flex;
        margin-bottom: 0;

      }

    }

    .p-card-content {

      position: relative;

      padding: 0;

      &::before {
        content: "";
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.03;
        z-index: 1;
        pointer-events: none;
      }

      @media screen and (max-width: 850px) {

        flex: 0 0 180px;
        height: 180px;

      }


    }


    &__image-link {
      padding-top: 100%;
      position: relative;
      display: block;

    }

    &__image-container {
      display: block;
      padding: 0 $main-spacing;
      cursor: pointer;

    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: auto;
    }

    .p-card-footer {
      padding: $main-spacing;
    }

    &__link {
      color: black;
      font-weight: 400;
      font-size: 1rem;
      text-decoration: none;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 94px;
      line-height: 1.5rem;
      cursor: pointer;

      &:hover {
        color: #0F1111;
      }

    }


    &__rating {

      padding-top: 0.25rem;
      span {
        color: rgb(230, 122, 0) !important;
        font-size: 0.95rem !important;

        &:not(:first-child) {
          margin-left: 0.05rem !important;
        }
      }
    }

    &__pricing {
      margin-top: $main-spacing;
      color: #0F1111 !important;
      font-size: 1.75rem !important;
      font-weight: 400 !important;
      display: flex;
      gap: 0.11rem;
      line-height: 1;
    }

    &__is-product-low-on-stock {
      color: #B12704;
      font-size: 0.875rem;
    }

    &__before-discount-price {
      font-size: 0.9rem;
      text-decoration: line-through;
      color: #565959;
    }

    &__currency {
      color: #0F1111 !important;
      font-weight: 400 !important;
      font-size: 0.8rem;
      margin-top: 0.1rem;

    }

  }


}

// hi my name is bacher jiroudi, i'm a fullstack stack developer from syria aleppo, i gratuated in 2019 with a Bachelor of Information Technology  and telemecommunticaton

// at elkood i mainly built dashboards using vue js and vutify,i participated in 3 vue js projects, one of which is a deleviry crm dashboard that i built mostly by myself,i also refactored an
// old angular app to use server side pagination and fixed old bugs in it.       Bachelor of Information Technology


// i started working as a back end developer at elkood company in 2021 and then transitioned into fullstack development in the same company in the last
// few monthes there.
