

<app-carousel-slider [photos]="mainCarouselPhotos"></app-carousel-slider>

<section class="categories custom-container mx-auto row px-2 pb-4">


  <div class="col-md-6 col-lg-4" *ngFor="let category of (categoriesList$ | async) || []; trackBy: trackByFn" #test>

    <app-category-preview-card title="Test Category" [image]="category.path" [categoryId]="category.id">
    </app-category-preview-card>

  </div>


</section>


<section class="top-seller-category-products custom custom-container mx-auto" *ngIf="(topSellerCategoryProducts$ | async)?.length! > 0">
    <app-category-carousel
        categoryTitle="Electronics"
        [products]="(topSellerCategoryProducts$ | async)!"
    >
    </app-category-carousel>
</section>
