
$input-border-radius: 6px;


:host {
  // padding: 1rem;
  display: block;
  padding: 0.5rem 0.25rem;
  margin: 0 0.25rem;
}


.search-input-overlay {
  background-color: rgba(0, 0, 0 ,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.search-input-container {
  display: flex;
}


.search-input {

  // &:focus-within {
  //   outline: 3px solid orange;
  //   // border: 3px solid yellow;
  //   border-radius: 6px;
  // }

  position: relative;
  z-index: 11;

  display: flex;



  &__text {
    width: 100%;
    padding: 0.25rem 0.5rem;
    height: 40px;
    border-right: none;
    border: none  ;
    border-radius: $input-border-radius 0 0 $input-border-radius;
    font-size: 0.9rem;
  }


  &__button-container {
    position: relative;
  }

  &__button {

    cursor: pointer;

    width: 45px;
    height: 40px;
    background-color: #febd69;
    border: none;
    border-radius: 0 $input-border-radius $input-border-radius 0;

    &:hover {
      background-color: #f3a847;
    }

    &:focus {
      outline: 2px solid orange;
    }

  }

  &__search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.25rem;
    pointer-events: none;
  }

}


.search-result {

  border-radius: 6px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 400px;
  overflow: auto;
  padding: 0;
  z-index: 25;

  &__list {
    margin-bottom: 0;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid black;
    }
  }

  &__item-link {
    color: black;
    display: block;
    cursor: pointer;
    padding: 1rem 0.5rem;

    &:hover {
      background-color: #e2e2e2;
    }

  }

}
