<div class="product-details custom-container mx-auto mt-4 px-4">

  <div class="product-details-description">

    <div class="product-details-description__image-container">
      <lib-ngx-image-zoom
      [thumbImage]="product.thumbImagePath"
      [fullImage]="product.fullImagePath"
      [magnification]="1"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="150"
      [lensHeight]="150"
      >
      </lib-ngx-image-zoom>

      <div class="product-details-description__quantity">
        <p-inputNumber
              [(ngModel)]="productQuantity"
              [showButtons]="true" buttonLayout="horizontal"
              spinnerMode="horizontal"
              inputId="horizontal"
              decrementButtonClass="p-button-secondary"
              incrementButtonClass="p-button-secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min]="1"
        >
        </p-inputNumber>
      </div>

      <div class="product-details-description__add-to-cart-container">
        <button
          pButton
          type="button"
          label="Add To Cart"
          class="product-details-description__add-to-cart-button"
          (click)="addProductToCart(product, productQuantity)"
          >
        </button>
      </div>

   </div>



    <div class="product-details-description__container"  *ngIf="(product$ | async) as product">

      <section class="product-details-description__main-details pb-1 product-details-section">
        <h1> {{ product.name }} </h1>

        <div class="product-details-description__reviews d-flex gap-3">

          <div
            class="product-details-description__review-rating-container"
            appHoverState
            (itemHovered)="handleItemHovered($event)"

          >
            <p-rating
              class="product-details-description__review-rating"
              [ngModel]="product.rating"
              [readonly]="true"
              [cancel]="false"
            >
            </p-rating>
            <app-product-details-review-stats
                *ngIf="(productReviewDetails$ | async) as reviewDetails"
                [productReviewStats]="reviewDetails"
                [isViewActive]="isReviewRatingListActive"
            >

            </app-product-details-review-stats>

          </div>
          <span> {{ product.totalReviews }} ratings </span>
        </div>
      </section>

      <section class="product-details-description__pricing product-details-section">

        <div class="product-details-description__main-price"  [hidden]="isProductDiscounted(product)">
          <span class="product-details-description__main-price-title">Price:</span>
          <span class="product-details-description__main-price-value">
            ${{ product.price }}
          </span>
        </div>

        <div class="product-details-description__price-saving" *ngIf="isProductDiscounted(product)">
            <p>
              <span class="product-details-description__price-saving-title">List Price: </span>
              <span class="product-details-description__old-price">
                ${{ product.price }}
              </span>
            </p>
            <p>
              <span class="product-details-description__price-saving-title">
                Price:
              </span>
              <span class="product-details-description__new-price">
                ${{ product.priceAfterDiscount }}
              </span>
            </p>
            <p>
              <span class="product-details-description__price-saving-title">
                You Save:
              </span>
              <span class="product-details-description__saving-values">
               ${{ getProductSavingPercent(product) }} ({{ product.discountValue }}%)
              </span>
            </p>
        </div>


      </section>

      <section class="product-details-description__about product-details-section">
        <h2 class="product-details-description__about-title">About this item</h2>
        <ul class="product-details-description__about-list">
          <li class="product-details-description__about-list-item" *ngFor="let detail of product.details">
            {{  detail.text }}
          </li>
        </ul>
      </section>
    </div>

