<div class="row">
  <div class="first">

    <p-card class="shopping-card">

      <p-header class="shopping-card__header">
        <h1 class="shopping-card__title">
          Shopping Cart
        </h1>
        <span class="shopping-card__price">
          Price
        </span>
      </p-header>

      <div class="shopping-card__products-list">
        <app-product-cart-card
          *ngFor="let product of (cartProducts | async); trackBy: trackByProductFn"
          [product]="product"
          (deleteButtonClicked)="onProductItemDeleteClicked($event)"
          (updateButtonClicked)="onProductItemUpdateClicked($event)"
        >
        </app-product-cart-card>
      </div>

      <p-footer class="shopping-card__footer">
        <p class="shopping-card__footer-total-pricing">
          Subtotal {{ '(' + (cartItemsCount | async)  + ' items): '}}
          <span class="shopping-card__footer-price">
            {{ '$' + (cartTotalPrice | async) }}
          </span>
        </p>
      </p-footer>

    </p-card>

  </div>

  <div class="second">
    <p-card>
      <p class="shopping-card__footer-total-pricing">
        Subtotal {{ '(' + (cartItemsCount | async)  + ' items): '}}
        <span class="shopping-card__footer-price">
          {{ '$' + (cartTotalPrice | async) }}
        </span>
      </p>
      <button [disabled]="! (loggedUser | async)" class="shopping-card__checkout-button">Checkout</button>
      <p *ngIf="! (loggedUser | async)" class="mt-4">
        Please <a routerLink="/login">sign in </a> first
      </p>
    </p-card>
  </div>

</div>
