<div class="row">
  <div class="col-md-8">

    <p-card class="shopping-card">

      <p-header class="shopping-card__header">
        <h1 class="shopping-card__title">
          Shopping Cart
        </h1>
        <span class="shopping-card__price">
          price
        </span>
      </p-header>

      <app-product-cart-card></app-product-cart-card>

      <app-product-cart-card></app-product-cart-card>

      <app-product-cart-card></app-product-cart-card>
      <app-product-cart-card></app-product-cart-card>

    </p-card>

  </div>
</div>
