.product-cart-item{

  padding: 0.5rem 0;

  border-bottom: 1px solid #DDD;


  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__details {
    display: flex;
  }

  &__image-container {
    width: 11.25rem;
    height: 11.25rem;
  }


  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  &__product-title {
    color: #0F1111;
    font-size: 1.25rem;
  }

  &__product-price {
    color: #0F1111;
    font-weight: 900;
    font-size: 1.125rem;
  }
}
