<div class="product-cart-item">
  <div class="product-cart-item__content">

    <div class="product-cart-item__details">
        <div class="product-cart-item__image-container">
          <a class="product-cart-item__image-link" [routerLink]="['/categories', product.categoryId, 'products', product.id]">
            <img
              [src]="product.path"
              class="product-cart-item__image"
            />
          </a>
        </div>

        <div class="product-cart-item__specs">
          <h2>
            <a class="product-cart-item__product-title" [routerLink]="['/categories', product.categoryId, 'products', product.id]">
              {{ product.name}}
            </a>
          </h2>
          <div class="product-cart-item__quantity">
            <label
              [for]="'quantity' + product.id"
              class="product-cart-item__quantity-text"
            >
              quantity:
            </label>
            <input
              [id]="'quantity' + product.id"
              type="text" pInputText
              class="product-cart-item__product-quantity-input"
              [value]="product.productQuantity"
              #quantity
            />
            <button
              type="button"
              class="product-cart-item__product-price-button"
              (click)="onUpdateButtonClicked(product, quantity)"
            >
              Update
            </button>
            <div class="product-cart-item__horizontal-seperator"></div>
            <div
              class="product-cart-item__delete-button" role="button" tabindex="0"
              (click)="onDeleteButtonClicked(product.id)"
            >
              Delete
            </div>
          </div>
        </div>
    </div>

    <div class="product-cart-item__product-price">
      ${{product.price}}
    </div>
  </div>

</div>
