<header class="main-header">

  <nav class="nav-belt">
    <div class="nav-belt__left">
      <a class="nav-belt__left-site-title nav-item" [routerLink]="['/']">
        E-commerce
      </a>
    </div>

    <div class="nav-belt__fill">
        <app-search-bar
          [searchList]="(searchList$ | async)!"
          (searchInputBlurred)="onSearchInputBlurred($event)"
          (searchTermChanged)="onSearchTermChanged($event)"
          (searchInputFocuesed)="onSearchInputFocused($event)"
          (ItemLinkClicked)="onSearchLinkClicked($event)"
          >
        </app-search-bar>
    </div>

    <button
    *ngIf="! (isMobileSideBarOpen$ | async)"
      aria-label="mobile sidebar button"
      class="nav-belt__mobile-side-bar-button"
      (click)="openMobileSideBar()"
    >
      <i class="pi pi-bars"></i>
    </button>

    <button
      *ngIf="(isMobileSideBarOpen$ | async)"
      aria-label="mobile sidebar button"
      class="nav-belt__mobile-side-bar-button nav-belt__mobile-side-bar-button--close"
      (click)="closeMobileSideBar()"
    >
      <i class="pi pi-times-circle"></i>
    </button>

    <div class="nav-belt__right" [ngClass]="{'nav-belt__right--mobile-active': !(isMobileSideBarOpen$ | async)}">


      <div class="nav-belt__right-auth-container nav-item nav-item--link">
        <div class="nav-belt__right-auth h-100">
          <a
            class="nav-belt__sign-in-link h-100 d-flex align-items-center p-2"
            [routerLink]="['/', 'login']"
            *ngIf="! (loggedUser$ | async)"
          >
          Sign In
          </a>
          <a
              class="nav-belt__sign-in-link h-100 d-flex align-items-center p-2"
              [routerLink]="['/', 'login']"
              *ngIf="(loggedUser$ | async)"
              (click)="onLogOutClicked()"
            >
            Log Out
          </a>
        </div>
      </div>

      <a
        class="nav-belt__right-shopping nav-item"
        [routerLink]="['/categories/shopping-cart']"
      >
        <span class="nav-belt__right-shopping-count">
          {{ (cartItemsCount$ | async) }}
        </span>
        <i class="pi pi-shopping-cart nav-belt__right-shopping-icon"></i>
      </a>

    </div>
  </nav>


</header>
