
:host  {
  background-color: white;
  display: block;

  border-radius: 6px;

  ::ng-deep {
    .p-carousel-items-container {
      padding-top: 1rem;
      padding-bottom: 1rem;

      .p-carousel-item {
        padding-right: 0.5rem;
      }
    }
  }

}

.categories-carousel {

  &__title {
    padding: 1rem 1rem 0rem;
  }

  &__image-container{
    position: relative;
    margin: 0 auto;
    // padding: 1rem;

    &::before {
      content: "";
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.03;
      z-index: 1;
      pointer-events: none;
    }

  }

  &__image-content {
    border: 1px solid black;
  }


  &__image-link {
    position: relative;
    padding-top: 75% !important;
    display: block;
    cursor: pointer;

    &:hover {
      color: #C7511F;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain !important;
    padding: 1rem;
  }

  &__content {
    text-align: center;
  }

  &__content-title-link  {
    cursor: pointer;
    color: black;

    &:hover {
      color: #C7511F;
    }

  }

  &__content-price {
    color: black;
  }

}

