<div class="carousel  custom-container mx-auto px-4" #carousel>
  <ul class="carousel__list">
    <li *ngFor="let photo of photos; index as i"
        class="carousel__item"
        [ngClass]="
          {
          'carousel__item--active': carouselPagination.isItemActive(activePhotoIndex, i),
          'carousel__item--hidden': carouselPagination.isItemHidden(activePhotoIndex, i, photos),
          'carousel__item--next': carouselPagination.isItemNext(activePhotoIndex, i, photos),
          'carousel__item--prev': carouselPagination.isItemPrevious(activePhotoIndex, i, photos)
          }
        "
        >
        <img [src]="photo" alt="img" class="carousel__image" #image />
    </li>

    <li class="carousel__item-layer" [ngStyle]="{'background-image': photos[lastActivePhotoIndex]}" >
      <img [src]="photos[lastActivePhotoIndex]" alt="" />
    </li>

  </ul>

  <div class="carousel__actions-container carousel__actions-container--left">

    <button
      class="carousel__action-button carousel__action-button--prev-button"
      (click)="lastActivePhotoIndex = activePhotoIndex ;activePhotoIndex = carouselPagination.prev(activePhotoIndex, photos)"
      aria-label="Website services carousel previous button."
      >
      <i class="pi pi-chevron-left"></i>
    </button>
  </div>

  <div class="carousel__actions-container carousel__actions-container--right">
    <button
      class="carousel__action-button carousel__action-button--next-button"
      aria-label="Website services carousel next button."
      (click)="lastActivePhotoIndex = activePhotoIndex ;activePhotoIndex = carouselPagination.next(activePhotoIndex, photos);"
      >
      <i class="pi pi-chevron-right"></i>
    </button>
  </div>



</div>


